.header_wrapper {
    width:1130px;
    height:160px;
  
    margin: 0 auto;
}

.cbox {
    display: flex;
    width: 1350px;
    height: 50px;
    margin-bottom: 15px;
    padding-top:13px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;

}

.container {
    display: flex;
    width: 1190px;
    height: 500px;
  
    margin: 0 auto;
}

.left_container {
    width: 860px;
    height: 500px;

}
.right_container {
    width: 330px;
    height: 500px;
}

.service_area_wrapper {
    display: flex;
    justify-content: flex-end;
    width:1130px;
    height:23px;
    margin-bottom:10px;
}

.service_area {
    display: flex;
    width: 254.31px;
    height: 23px;
    font-size: 9px;
    color: #404040;
    font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
}

.service_area_1 {
    width: 240px;
    height: 23px;
    line-height: 23px;
}
.service_area_1::after {
    background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_947f65.png);
    -webkit-background-size: 442px 428px;
    background-size: 442px 428px;
    display: inline-block;
    width: 23px;
    height: 23px;
    background-position: -382px -213px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin-left:3px;
    
    
}
.service_area_2 {
    width: 127.31px;
    height: 23px;
    line-height: 23px;
}
.service_area_3 {
    width: 127.31px;
    height: 23px;
    line-height: 23px;
}

.header {
    display: flex;
    justify-content: center;
    

}

.logo {
    width:222px;
    height:52px;
    margin-right: 20px;
}


.logo {
    background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_947f65.png);
    -webkit-background-size: 442px 428px;
    background-size: 442px 428px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 222px;
    height: 52px;
    background-position: 0 -158px;
    vertical-align: top;
    content: '';
}


.search_bar {
width:586px;
height:52px;
border: 2px solid #19ce60;
border-radius: 2px;
}

.item {
    display: flex;
    margin-left:50px;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    
  }
.item ul > li {
    display: inline-block;
    margin-left: 10px;
}
.item ul > li:nth-child(-n + 7) > a { 
    color: #19ce60;
}

.weather {
    display: flex;
    margin-left:110px;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
  }
.temp1 {
    padding-top:1px;
    margin-left:8px;
    margin-right:1px;
    font-size: 13px;
    color: blue;
}
.temp2 {
    padding-top:1px;
    margin-left:1px;
    color: red;
    font-size:13px;
}
.address {
    margin-left:8px;
    font-size: 14px;
    color: #808080;
}
.weather::before{
    content: "";
    display: block;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_weather.11654bc0.png);
    background-size: 641px 587px;
    background-position: -165px -522px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin-bottom:15px;
    margin-right:5px;
}




.ad {
    margin-right: 15px;
    margin-left:15px;
    margin-bottom:15px;
}
.information_bar {
    width: 330px;
    height: 50px;
    margin-top: 10px;
    border: 1px solid lightgray;
}
.information_text {
    margin-top:15px;
    margin-left:15px;
    font-size: 13px;
    color: #808080;

}
.log {
    width: 330px;
    height: 160px;
    background-color:#f1f3f6;
    border: 1px solid lightgray;
    text-align: center;
}
.log_top {
    width: 330px;
    height: 20px;
    margin-top: 10px;
    font-size: 14px;
}
.log_set {
    display: block;
    margin-top: 13px;
    padding: 17px 0;
    border: 1px solid rgba(244, 236, 236, 0.06);
    border-radius: 4px;
    background-color: #03c75a;
    -webkit-box-shadow: 0 2px 4px 0 rgba(3,199,90,.12);
    box-shadow: 0 2px 4px 0 rgba(3,199,90,.12);
    text-decoration: none;
    color: #fff;
}
.log_box {
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.30918f90.png);
    background-size: 422px 405px;
    background-position: -120px -166px;
    background-repeat: no-repeat;
    width: 60px;
    height: 14px;
    display: inline-block;
    margin: 3px 8px 0 0;
    vertical-align: top;
}
.opening_news {
    background-color: #f1f3f6;
    display: flex;
    width: 830px;
    height: 52px;
    margin-left: 15px;

}
.opening_news_name {
    margin-left: 13px;
    margin-top: 18px;
    font-weight: bold;
    font-size: 14px;
}
.opening_news_text {
    margin-left: 15px;
    margin-top: 18px;
    font-size: 14px;
}
.big_box {
    display: flex;
    width: 830px;
    height: 222px;
    margin-left: 15px;

}
.press {
    width: 292.6px;
    height:222px;
    background-color: #f1f3f6;
}
.box {
    width: 535px;
    height: 222px;
    padding-left:20px;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}  
.media_box {
    width: 537.4px;
    height: 20px;
    padding-top: 10px;
} 
.news_box {
    display: flex;
    width: 537.4px;
    height: 193px;
    margin-top: 3px;
} 
.sub_news_text {
    margin-right: 10px;
}
.main_news {
    width: 196px;
    height: 186px;
    margin-top: 12px;
    
}
.sub_news {
    width: 385.4px;
    height: 184px;
    padding-right: 10px;
}
.time {
    width: 118.25px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #808080;
} 
.pp {
    margin-top: 12px;
    font-size: 13px;
    color: #202020;
    font-weight: 700;
}
.aa {
    margin-top: 10px;
    font-size: 12px;
    color: #202020;
    font-weight: 700;
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.log_bottom {
    margin-top: 16px;
}
.id {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    color: #808080;
}
.vert {
    content: "";
    display: inline-block;
    width: 1px;
    height: 15px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    margin: 0 10px 0;
    vertical-align: top;
    color: #808080;

}
.arrow {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    margin-top: 16px;
    margin-left: 5px;
    vertical-align: top;
}
.bullet {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    margin-top: 18px;
    margin-left: 6px;
    vertical-align: top;
    color: #808080;
}
.option {
    color:#808080;
}

.news_under_log {
    padding-top:10px; 
}

.newsstand {
    
    display: flex;
    width: 830px;
    height: 52px;
    margin-left: 15px;
    margin-top:5px;

}
.big_box::after {
    margin-top: 90px;
    background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_947f65.png);
    -webkit-background-size: 442px 428px;
    background-size: 442px 428px;
    display: inline-block;
    width: 23px;
    height: 23px;
    background-position: -382px -213px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin-left:3px;
    
    
}

.press_box {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}